$clr-dark: 230 35% 7%;
$clr-light: 231 77% 90%;
$clr-white: 0 0% 100%;
$transperent-clr:rgba(231, 228, 228, 0.5);

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  height: 100vh;
}

#root{
  height: 100%;
}


.container{
  text-align: center;
  background-color: yellow;
  width: 50%;
  transition: background 1s ease-in-out;
}

.children{
  border: 5px black solid;
  border-top: 0;
  height: 100px;
  transition: 1s all ease-in-out;
}

.container:hover{
  background-color: black;
  color: white;
}

.children:hover{
  background-color: yellow;
  color: black;
  transform: scaleX(1.02);
  border: none;
}



